// ===================================================================================
// Pro Mod - A Competitive L4D2 Configuration Always Looking To Improve
// Developers: Jacob, Blade, CanadaRox, CircleSquared, darkid, Epilimic, Fig Newtons, High Cookie, Jahze, NF, Prodigysim, Sir, Stabby, Tabun, Vintik, Visor
// License CC-BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0/legalcode)
// Version 4.5
// http://github.com/jacob404/Pro-Mod-4.0
// ===================================================================================

filter:
{
	"classname" "weapon_hunting_rifle_spawn"
}
filter:
{
	"classname" "weapon_sniper_military_spawn"
}
filter:
{
	"weapon_selection" "any_sniper_rifle"
}
filter:
{
	"weapon_selection" "weapon_hunting_rifle"
}
filter:
{
	"weapon_selection" "weapon_sniper_military"
}

; =====================================================
; ================= PROMOD FINALE FIX =================
; =====================================================

filter:
; --- filter out restricted junk
{
	"classname" "weapon_item_spawn"
}
modify:
; --- fix vanishing finale pills in proper placements
{
    match:
    {	
	    "hammerid" "4376594"
	}
	replace:
	{
	    "spawnflags" "2"
	}
}
{
    match:
    {	
	    "hammerid" "4376596"
	}
	replace:
	{
	    "spawnflags" "2"
	}
}
{
    match:
    {	
	    "hammerid" "4376652"
	}
	replace:
	{
	    "spawnflags" "2"
	}
}
{
    match:
    {	
	    "hammerid" "4376676"
	}
	replace:
	{
	    "spawnflags" "2"
	}
}