// ===================================================================================
// Pro Mod - A Competitive L4D2 Configuration Always Looking To Improve
// Developers: Jacob, Blade, CanadaRox, CircleSquared, darkid, Epilimic, Fig Newtons, High Cookie, Jahze, NF, Prodigysim, Sir, Stabby, Tabun, Vintik, Visor
// License CC-BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0/legalcode)
// Version 4.5
// http://github.com/jacob404/Pro-Mod-4.0
// ===================================================================================

filter:

; --- remove ash particle effects
{
	"classname" "func_precipitation"
}

; --- remove slowdown on log
{
	"classname" "trigger_playermovement"
}

; --- Speed up the door opening

modify:
{
	match:
	{
		"targetname" "move_door"
	}
	replace:
	{
		"startspeed" "100"
	}
}
modify:
{
	match:
	{
		"targetname" "position_01"
	}
	replace:
	{
		"speed" "100"
	}
}


filter:
;--- Remove a trigger that spawns zombies

{
	"hammerid" "1029769"
}

; --- Remove event
modify:
{
	match:
	{
		"targetname" "bunker_button"
	}
	delete:
	{
		"OnPressed" "directorPanicEvent21"
	}
	{
		"OnPressed" "zspawn_zombie_safeSpawnZombie21"
	}
}
