// ===================================================================================
// Pro Mod - A Competitive L4D2 Configuration Always Looking To Improve
// Developers: Jacob, Blade, CanadaRox, CircleSquared, darkid, Epilimic, Fig Newtons, High Cookie, Jahze, NF, Prodigysim, Sir, Stabby, Tabun, Vintik, Visor
// License CC-BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0/legalcode)
// Version 4.5
// http://github.com/jacob404/Pro-Mod-4.0
// ===================================================================================

;---- Fix Randoming Pathing/Weapon Spawns. (Forced to take the longer route)
filter:
{
	;Path Picker 2.
	"hammerid" "2411828"
}
{
	;Path Picker 1.
	"hammerid" "2411730"
}
	;Query.
	"hammerid" "1951907"
}
modify:
{
	match:
	{
		"hammerid" "66462"
	}
	delete:
	{
		"OnPressed" "path_pickerPickRandom0-1"
	}
}
;----- Prevent Horde Settings, Add our own VScript
{
    match:
    {
        "targetname" "elevator stop relay"
    }
    delete:
    {
        "OnTrigger" "directorBeginScriptsb_map1_default0-1"
    }
    insert:
    {
        "OnTrigger" "directorBeginScriptsb_map1_default_promod0-1"
    }
}
